.idea/*
vendor-pro/teamtnt/tntsearch/tests/
vendor-pro/teamtnt/tntsearch/.travis.yml
vendor-pro/teamtnt/tntsearch/CHANGELOG.md
vendor-pro/teamtnt/tntsearch/.gitignore
vendor-pro/teamtnt/tntsearch/composer.json
vendor-pro/teamtnt/tntsearch/CONDUCT.md
vendor-pro/teamtnt/tntsearch/CONTRIBUTING.md
vendor-pro/teamtnt/tntsearch/LICENSE.md
vendor-pro/teamtnt/tntsearch/phpunit.php
vendor-pro/teamtnt/tntsearch/README.md
vendor-pro/teamtnt/tntsearch/phpunit.xml
vendor-pro/teamtnt/tntsearch/CODE_OF_CONDUCT.md
vendor-pro/damian-gora/tntsearch/tests/
vendor-pro/damian-gora/tntsearch/.travis.yml
vendor-pro/damian-gora/tntsearch/CHANGELOG.md
vendor-pro/damian-gora/tntsearch/.gitignore
vendor-pro/damian-gora/tntsearch/composer.json
vendor-pro/damian-gora/tntsearch/CONDUCT.md
vendor-pro/damian-gora/tntsearch/CONTRIBUTING.md
vendor-pro/damian-gora/tntsearch/LICENSE.md
vendor-pro/damian-gora/tntsearch/phpunit.php
vendor-pro/damian-gora/tntsearch/README.md
vendor-pro/damian-gora/tntsearch/phpunit.xml
vendor-pro/damian-gora/tntsearch/CODE_OF_CONDUCT.md
